html {
	background: linear-gradient(270deg, #0d0e0e 0.08%, #121314 38.55%, #171719 100%);
	font-family: sans-serif;
	/* color: #dfd1d1; */
}

body {
	margin: 0 auto;
	width: 100%;
	/* max-width: 80ch; */
	/* padding: 1rem; */
	line-height: 1.5;
}

* {
	box-sizing: border-box;
}

h1 {
	margin: 1rem 0;
	font-size: 2.5rem;
}
h2 {
	font-size: 1rem;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
	/* box-shadow: inset 0 0 5px grey; */
	/* border-radius: 10px; */
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(104, 6, 6);
	border-radius: 10px;
}

/* .nav-links { */
/* width: 100%; */
/* height: 60px; */
/* top: 5rem; */
/* left: 48px; */
/* background: linear-gradient(90deg, #0D0E0E 44.8%, #171719 99.92%); */
/* display: flex; */
/* align-items: center; */
/* justify-content: center; */
/* gap: 1rem; */
/* flex-shrink: 0; */
/* margin: 0; */
/* } */

/* .nav-links a { */
/* display: block; */
/* flex: initial; */
/* text-align: center; */
/* padding: 10px 0; */
/* text-decoration: none; */
/* font-size: 1rem; */
/* text-transform: uppercase; */
/* color: inherit; */
/* } */

/* .nav-links a:visited {
    color: inherit;
}
.nav-links a:hover {
    color: #dd1919;
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-links a:focus {
    color: #dd1919;
    font-weight: bold;
} */

/* #article-main { */
/* background-image: url("../images/analyst.png");
    background-repeat: no-repeat;
    background-size: cover;
     */
/* } */

/* footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060606;
} */

/* footer > div {

} */
/* .expanded {
display: unset;
} */

/* @media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

} */
