html {
background-color: #f1f5f9;
font-family: sans-serif;
color: #DFD1D1;
}

body {
margin: 0 auto;
width: 100%;
/* max-width: 80ch; */
/* padding: 1rem; */
line-height: 1.5;
}

* {
box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}
h2 {
    font-size: 1rem;
}


.nav-links {
    width: 100%;
    height: 60px;
    top: 5rem;
    left: 48px;
    background: linear-gradient(90deg, #0D0E0E 44.8%, #171719 99.92%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-shrink: 0;
    /* margin: 0; */
}

.nav-links a {
    display: block;
    flex: initial;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    color: inherit;
}

.nav-links a:visited {
    color: inherit;
}
.nav-links a:hover {
    color: #dd1919;
    font-weight: bold;
    /* font-size: 1.2rem; */
}

.nav-links a:focus {
    color: #dd1919;
    font-weight: bold;
}

#article-main {
    background-image: url("../images/ecran.jpg");
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #060606;
}

/* footer > div {

} */
/* .expanded {
display: unset;
} */

/* @media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }

    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }

    .hamburger {
        display: none;
    }

} */