---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import ArticlesList from '../components/ArticlesList.astro'
import { DateTime } from 'luxon'

import { slide } from 'astro:transitions'

const articles = await getCollection('articles')
// articles.map((article) => console.log(DateTime.fromFormat(article.data.date, 'dd/mm/yyyy')))

// articles.map(article => article.data.date = DateTime.fromISO(article.data.date))
const sortedArticles = articles.sort(
	(a, b) =>
		DateTime.fromFormat(b.data.date, 'dd/mm/yyyy').toMillis() -
		DateTime.fromFormat(a.data.date, 'dd/mm/yyyy').toMillis()
)
// console.log(sortedArticles)
---

<BaseLayout pageTitle="Articles">
	<main>
		<ArticlesList articles={sortedArticles} />
	</main>
</BaseLayout>
