---
import type {CollectionEntry} from "astro:content"

import Article from "./Article.astro"


type Props = {
    articles: CollectionEntry<"articles">[]
}


const {articles} = Astro.props
---
<div class="flex justify-center">
    <div class="grid grid-cols-2 gap-x-16 gap-y-16 max-md:grid-cols-1 max-sm:gap-y-14 max-w-4xl pt-16">
        {articles.map(article => <Article article={article} />)}
    </div>
</div>
