---
import type { CollectionEntry } from 'astro:content'
import ArticleExtendedLayout from '../layouts/ArticleExtendedLayout.astro'

type Props = {
	articles: CollectionEntry<'articles'>[]
}

const { articles } = Astro.props
---

<div class="mb-4 flex justify-center">
	<div class="flex max-w-6xl flex-col gap-10 pt-10">
		{articles.map((article) => <ArticleExtendedLayout article={article} />)}
	</div>
</div>
