---
import { Image } from 'astro:assets';
import screen from '../../images/ecran.png';
---
<div id="article-main" class="flex items-center h-[70vh]">
    <!-- <Image src={localBirdImage} alt="A bird sitting on a nest of eggs."/> -->
    <div class="container flex flex-col w-[50%] ml-32" style="background-color: linear-gradient(90deg, rgba(0, 0, 0, 0.98) 0.11%, rgba(30, 30, 30, 0.00) 111.63%);">
        <h1 class="font-bold">Analyste système</h1>
        <h2 class="font-light">Des Problèmes aux Solutions : Un Voyage dans le Monde de l'Informatique.</h2>
        <div class="flex-initial my-4">
            <button class="bg-red-500 border-2 border-red-500 hover:bg-red-700 hover:border-2 hover:border-white text-white font-bold py-2 px-4 rounded-full">
                Lire l'article
            </button>
        </div>
    </div>
</div>