<footer
	class="z-50 flex items-center justify-center shadow-[0px_-2px_5px_-1px_rgba(29,78,216,0.5)] shadow-blue-700/50"
	style="background-color: #060606;"
>
	<div>made with <span class="text-red-700">♥</span> by Tekybear and Winga</div>
</footer>
