---
import Navigation from './Navigation.astro'
import Socials from './Socials.astro'
import { Image } from 'astro:assets'
import logo from '../images/logo_no_bg.png'
---

<header
	class="fixed left-0 right-0 top-0 z-50 mx-auto flex h-[60px] justify-between p-4 pr-5 shadow-sm shadow-blue-700/50"
	style="background: linear-gradient(90deg, #0D0E0E 44.8%, #171719 100%);"
>
	<a href="/" class="my-auto flex items-center justify-center hover:cursor-pointer">
		<Image
			src={logo}
			alt="Logo 5XENV"
			height={40}
			class="absolute left-5 z-10 my-auto object-cover"
		/>
	</a>
	<!-- <div id="logo" class="my-auto  ">Logo</div> -->
	<Navigation />
	<Socials />
</header>
