---
import { motion } from 'framer-motion'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
import logo from '../images/logo2.png'

// const pathname = new URL(Astro.request.url).pathname
const currentPath = Astro.url.pathname
// console.log(currentPath)
---

<nav
	class="fixed left-0 right-0 top-0 z-50 mx-auto flex h-[60px] justify-between p-4 pr-0 shadow-sm shadow-blue-700/50"
	style="background: linear-gradient(90deg, #0D0E0E 44.8%, #171719 100%);"
>
	<a href="/" class="relative my-auto flex items-center justify-center hover:cursor-pointer">
		<div class="absolute left-10 z-10 flex items-center">
			<Image src={logo} alt="Logo 5XENV" height="45" class="object-cover" />
			<div class="pl-3 text-3xl font-bold">5XENV</div>
		</div>
	</a>
	<div
		class="-z-1 absolute left-0 right-0 mx-0 my-auto flex justify-center gap-10 font-bold uppercase"
	>
		<a
			href="/"
			class=`${currentPath === '/' ? 'text-red-500/90' : ''} transition duration-150 ease-in-out hover:scale-110 hover:text-red-500 `
		>
			Accueil
		</a>
		<a
			href="/articles/"
			class=`${currentPath === '/articles/' ? 'text-red-500/90' : ''} transition duration-150 ease-in-out hover:scale-110 hover:text-red-500 `
		>
			Articles
		</a>
		<a
			href="/about/"
			class=`${currentPath === '/about/' ? 'text-red-500/90' : ''} transition duration-150 ease-in-out hover:scale-110 hover:text-red-500 `
		>
			A propos
		</a>
	</div>
	<div id="socials" class="z-50 my-auto flex justify-center gap-2 pr-10 text-base">
		<a href="https://www.youtube.com/watch?v=ZGsq_oAJRu4">
			<Icon
				name="fa:facebook-square"
				class="hover:background-color h-5 w-5 transition duration-150 ease-in-out hover:-translate-y-1 hover:cursor-pointer hover:text-red-500"
			/>
		</a>
		<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">
			<Icon
				name="fa:twitter-square"
				class="h-5 w-5 transition duration-150 ease-in-out hover:-translate-y-1 hover:cursor-pointer hover:text-red-500"
			/>
		</a>
		<a href="https://www.youtube.com/watch?v=k85mRPqvMbE">
			<Icon
				name="fa:linkedin-square"
				class="h-5 w-5 transition duration-150 ease-in-out hover:-translate-y-1 hover:cursor-pointer hover:text-red-500"
			/>
		</a>
	</div>
</nav>
<script>
	// const nav = document.querySelector('nav')
	// const navLinks = nav.querySelectorAll('a')
	// const currentUrl = window.location.href
	// console.log(currentUrl)
	// navLinks.forEach((link) => {
	// 	if (link.href === currentUrl) {
	// 		link.classList.add('text-blue-500')
	// 	}
	// })
</script>
