<div class="nav-links flex justify-center gap-5 my-auto">
    <a href="/" class="hover:text-red-400">Accueil</a>
    <a href="/articles/" class="hover:text-red-400">Articles</a>
    <a href="/about/" class="hover:text-red-400">A propos</a>
</div>
