<div class="nav-links -z-1 absolute left-0 right-0 mx-0 my-auto flex justify-center gap-5">
	<a
		href="/"
		class="transition duration-150 ease-in-out hover:-translate-x-1 hover:-translate-y-1 hover:scale-105 hover:text-red-500"
		>Accueil</a
	>
	<a
		href="/articles/"
		class="transition duration-150 ease-in-out hover:-translate-y-1 hover:scale-105 hover:text-red-500"
		>Articles</a
	>
	<a
		href="/about/"
		class="transition duration-150 ease-in-out hover:-translate-y-1 hover:translate-x-1 hover:scale-105 hover:text-red-500"
		>A propos</a
	>
</div>
