---
import { Icon } from 'astro-icon'
---
<div id="socials" class="flex justify-center gap-2 text-base my-auto">
  <div><Icon name="fa:facebook-square" class="hover:text-red-500 hover:cursor-pointer w-5 h-5"/></div>
  <div><Icon name="fa:twitter-square" class="hover:text-red-500 hover:cursor-pointer w-5 h-5"/></div>
  <div><Icon name="fa:linkedin-square" class="hover:text-red-500 hover:cursor-pointer w-5 h-5"/></div>
</div>