---
import Nav from '../components/Nav.astro'
import Footer from '../components/Footer.astro'
import { ViewTransitions } from 'astro:transitions'
import '../styles/global.css'

import { Debug } from 'astro:components'

interface Props {
	pageTitle: string
}

const { pageTitle } = Astro.props
// const { url } = Astro.props

// console.log(url)
---

<html lang="fr">
	<head>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<ViewTransitions />
	</head>
	<body class="">
		<main class="relative">
			<Nav />
			<div class="mt-[60px] h-[calc(100vh-60px)] overflow-auto">
				<page>
					<slot class="" />
					<Footer />
				</page>
			</div>
		</main>
		<script>
			// console.log({url})
		</script>
	</body>
</html>
